html {
    font-family: 'helvetica neue', 'Raleway', 'helvetica', arial, sans-serif;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: #009999; /* Keeps bottom of page the right colour */
}

body {
    background-color: #000;
    
    /* Next lines keep margin away (and colours right)*/
    margin: -0em;
    padding-top: 0.001em;
}

.content, .header, .fadeline {
    min-width: 600px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.grad {
    background: -webkit-linear-gradient(black, #005555, #009999);
}

div {
    align-content: center;
}

/*-------------------------------------------------------------------------------*/

.header {
    padding-left: 1em;
    padding-right: 1em;
}

ul a {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    position: relative;
    top: 0.6em;
    
    color: #009999;
    font-size: 1.4em;
    
    -o-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -khtml-transition: color 0.25s linear;
    -webkit-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    
    transition: color 0.25s linear;
}

.header li {
    display: inline;
    position: relative;
    right: 3.2em;
}  

.Soundcloud {
    content: url("http://i.imgur.com/CI3PlhX.png"); 
    position: relative;
    bottom: 3em;
    width: 60px;
    float: right;
}

.quemini, .quemini2 {
    width: 100px;
    float: left;
}

.quemini {
    content: url("http://i.imgur.com/xSmH01O.png");
}

.quemini:hover {
    content: url("http://i.imgur.com/SlHrJ4u.png");
}

.quemini2 {
    content: url("http://i.imgur.com/SlHrJ4u.png");  
}

.Soundcloud:hover {
    content: url("http://i.imgur.com/I81HbhX.png");   
}

.Youtube {
    content: url("http://i.imgur.com/gjujDAL.jpg"); 
    position: relative;
    bottom: 2.7em;
    width: 40px;
    float: right;
    padding: 5px;
}

.Youtube:hover {
    content: url("http://i.imgur.com/8RkWxmt.jpg");
}
.fadeline{ 
    width: 100%;
    position: relative;
    top: 20px;
    display:block;
    height:1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#009999), to(#000));
}

/*-------------------------------------------------------------------------------*/

.content {
    margin-top: 5em;
    min-height: 30em;
}


.content a {
    padding: 1em;
    color: white;
}
.link {
color: #333333;

}

a {
    
}

a:hover {
    color: #00ffff;
}

a:active {
    color: #00ffff;
}

a:focus {
    color: #00ffff;
}

.queimage {
    width: 85%;
    text-align: center;
    padding-top: 3em;
}

h1 {
    font-stretch:normal;
    font-size: 5em;
    text-align: center; 
    font-weight: 300;
}

h2 {
    font-weight: 100;
    text-align: center;
}

p {
    line-height: 25px
}

/*-------------------------------------------------------------------------------*/

.footer {
    font-size: 0.8em;
    position: fixed; 
    bottom: 0;
    left: 0;
    color: #00ffff;   
    width: 100%;
    text-align: center;
}